# === EJECUTABLES Y BINARIOS ===
*.exe
*.out
*.app
*.rar

# === ARCHIVOS TEMPORALES DE COMPILACIÓN (MSVC/GCC) ===
*.obj
*.ilk
*.pdb
*.idb
*.o
*.gch

# === ARCHIVOS DE CONFIGURACIÓN LOCAL ===
.DS_Store
Thumbs.db